html {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.background.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: -10px;
  }

  .header-background {
    background: #1F2937;
    height: 100px;
  }
  
  .top {
    background: #1F2937;
    height: 350px;
  }

  .middle-top {
    background: white;
    height: 400px;
  }

  .middle-bottom {
    background: #E5E7EB;
    height: 500px;
  }

  .bottom {
    background: white;
    height: 400px;
  }

  .footer {
    background: #1F2937;
    height: 100px;
  }

  .header-background.flex-container {
    display: flex;
    column-gap: 1.5rem;
  }
  
  .header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 150px;
    margin-top: 20px;
  }

  .header-link-one {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 400px;
    margin-top: 20px;
  }

  .header-link-two {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 20px;
  }

  .header-link-three {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 20px;
  }

  .top {
    display: flex;
    column-gap: 2rem;
  }

  .top-main h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 150px;
    word-wrap: normal;
    width: 350px;
  }

  .top-main p {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 150px;
    width: 450px;
  }

  .top-image {
    background-color: darkgrey;
    height: 220px;
    width: 495px;
    text-align: center;
    line-height: 200px;
    margin: 25px;
  }
  
  .top-button {
    margin-left: 150px;
    background-color: #3882F6;
    border-radius: 0.5em;
    border-style: solid;
    border-color: #3882F6;
    width: 125px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
  }

  .middle-top {
    display: flex;
    justify-content: center;
  }

  .middle-top-all h2 {
    font-size: 36px;
    font-weight: bold;
    margin-left: 175px;
  }

  .middle-top-boxes {
    display: flex;
    flex-direction: row;
    flex-basis: 50px 50px auto;
    justify-content: center;
    column-gap: 50px;
    margin-top: 50px;
  }

  .box1 {
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    text-align: center;
  }

  .box1 p {
    margin-top: 165px;
  }

  .box2 {
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    text-align: center;
  }

  .box2 p {
    margin-top: 165px;
  }

  .box3 {
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    text-align: center;
  }

  .box3 p {
    margin-top: 165px;
  }

  .box4 {
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    text-align: center;
  }

  .box4 p {
    margin-top: 165px;
  }

  .middle-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .middle-bottom h2 {
    width: 750px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
  }

  .middle-bottom h4 {
    font-size: 24px;
    margin-top: -32px;
    margin-left: 450px;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 1000px;
    border-radius: 10px;
    background-color: #3882F6;
  }

  .bottom-box1 h2 {
    color: #F9FAF8;
  }

  .bottom-box1 h4 {
    color: #E5E7EB;
  }

  .bottom-box2 button {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 10px;
    height: 35px;
    width: 125px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
  }
